body {
    width: 100%;
    background: #E5E5E5;
}

#body {
    padding-bottom: 86px;
}

/*navbar*/
.tell-number a {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    color: white !important;
    text-decoration: none;
}

.nav-menu {
    display: flex;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: #3A3A3A;
    z-index: 1000;
    box-shadow: 0 6px 5px rgba(0, 0, 0, 0.25);
}

.nav-items {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 80px;
}

.nav-links a {
    font-style: normal;
    font-weight: bold;
    color: white !important;
    text-decoration: none;
    font-size: 14px;
}

.nav-logo {
    margin: auto;
}

.nav-logo img {
    height: 70px;
    padding: 5px 0;
}

.nav-links {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 115px;
}

.nav-links a {
    padding-left: 30px;
}

.tell-number {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 88px;
}

/*Background Menu*/

.background-menu {
    background-image: url(../assets/background-menu.png);
    background-repeat: repeat;
    width: 100%;
    height: 180px;
    display: flex;
}


.menu-content {
    margin: auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 28px;
}


/*Back Button*/
.come-back {
    margin-left: 115px;
    padding-top: 40px;
}

.come-back button {
    border: none;
    width: 100px;
    height: 36px;
    background: #106e18;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;

}

.come-back button:hover {
    background-color: black;
}

.come-back button img {
    padding-right: 5px;
    margin-top: -4px;
    width: 16px;
    height: 16px;
}

/*Types of drinks*/
.drinks-items {
    display: flex;
}

.types-drinks {
    margin-left: 85px;
    margin-top: 30px;
}

#all-drinks, #warm-drinks, #cold-drinks {
    margin-left: 30px;
    border-radius: 8px;
    border: 1px solid #6D4212;
    color: #6D4212;
    height: 36px;
    background: #E5E5E5;
}

#all-drinks {
    width: 100px;
    background: #6D4212;
    color: white;
    font-weight: bold;
}

#warm-drinks {
    width: auto;
}

#cold-drinks {
    width: 109px;
}

#all-drinks:hover {
    background: rgba(109, 66, 18, 0.5);
    border-color: #6D4212;
}

#warm-drinks:hover {
    background: rgba(109, 66, 18, 0.5);
    border-color: #6D4212;
}

#cold-drinks:hover {
    background: rgba(109, 66, 18, 0.5);
    border-color: #6D4212;
}

.drinks-input {
    margin-left: auto;
    margin-top: 30px;
    padding-right: 80px;
}

.drinks-input input[type=text] {
    width: 255px;
    height: 40px;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #BFBFBF;
    padding-left: 10px;
    color: #BFBFBF;
}

.drinks-input svg {
    transform: translate(-35px, -2px);
}

::placeholder {
    color: #BFBFBF;
    font-weight: initial;
}

.drinks-input input:focus {
    outline: none;
    border-color: #4466ff;
    opacity: 1;
}

/*Bauturi reci*/

.cold-drinks-title {
    padding-top: 50px;
}

#cold-drinks-title {
    font-weight: bold;
    font-size: 28px;
    color: black;
    text-align: center;
}

#cold-main {
    padding-left: 90px;
}

.cold {
    padding-right: 30px;
    padding-left: 90px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cold-drinks-product {
    box-shadow: 6px 5px 50px rgba(0, 0, 0, 0.25);
    width: 406px;
    margin-top: 20px;
    height: auto;
    border-radius: 12px;
    background-color: white;
    z-index: 100;
}

#cold-drinks-product {
    text-align: center;
    padding-top: 25px;
}

#cold-drinks-product img {
    width: 144px;
    height: 200px;
}

#cold-drinks-product h1 {
    font-weight: bold;
    padding-top: 5px;
    font-size: 24px;
}

#cold-drinks-product p {
    padding-top: 10px;
    font-size: 18px;
    cursor: pointer;
}

.cold-drinks-buy {
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 25px;
}

.cold-drinks-price h1 {
    font-size: 42px;
    font-weight: bold;
}

.cold-drinks-price h1 span {
    position: absolute;
    font-size: 16px;
    padding-left: 4px;
}

.cold-drinks-cart {
    margin-left: auto;
    padding-right: 20px;
}

.cold-drinks-cart button {
    background: #106E18;
    border-radius: 5px;
    width: 143px;
    height: 46px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    color: white;
}

.cold-drinks-cart button img {
    padding-left: 24px;
}

#whole-price-products {
    display: none;
}

.whole-price {
    background: #106E18;
    box-shadow: 10px 15px 50px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    padding-right: 40px;
    height: 88px;
    color: white;
    padding-top: 12px;
    padding-left: 16px;
    align-items: center;
}

.whole-price h1 {
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}

.whole-price p {
    font-size: 20px;
}

.whole-price p span {
    position: absolute;
    padding-left: 4px;
    font-size: 12px;
    font-weight: bold;
}

.whole-price-products {
    display: flex;
    bottom: 80px;
    right: 0;
    position: fixed;
    z-index: 100000;
    cursor: pointer;
}

.types-products {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #106E18;
    background-color: white;
    display: flex;
    transform: translate(-35px, -26px);

}

.types-products h1 {
    font-weight: bold;
    font-size: 24px;
    color: #106E18;
}

.title {
    margin: auto;
    padding-top: 3px;
}

.des {
    position: absolute;
    display: none;
    height: auto;
    width: 288px;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    transform: translate(25%, -20px);
    border-radius: 12px;
    box-shadow: 6px 5px 50px rgba(0, 0, 0, 0.25);
    z-index: 1000;
    background-color: white;
    text-align: start;
}

.des p {
    margin-top: -25px;
    color: #222b45;
    font-size: 18px;
}

/*Footer*/

footer {
    width: 100%;
    height: 444px;
    background-color: #3A3A3A;
    padding-left: 180px;
}

#footer-body {
    display: flex;
}

.footer-logo {
    padding-top: 95px;
    width: 170px;
    padding-bottom: 30px;
}

.phone-footer {
    padding-bottom: 12px;
}

.phone-footer a, .email-footer a {
    padding-left: 7px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.phone-footer a:hover, .email-footer a:hover {
    color: white;
}

#footer-contacts {
    display: flex;
}

.footer-bar {
    width: 1px;
    height: 81px;
    margin-left: 70px;
}

.footer-data {
    margin-top: auto;
    margin-bottom: auto;
}

.media {
    display: flex;
    margin-left: 70px;
    margin-top: auto;
    margin-bottom: auto;
}

.instagram, .facebook, .youtube {
    margin-left: 27px;
}

#map {
    width: 600px;
    height: 309px;
    border-radius: 12px;
    margin-left: auto;
    margin-top: 55px;
    margin-right: 180px;
}

.footer-message {
    width: 82%;
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 30px;
    font-weight: 400;
}

.footer-message span {
    text-transform: uppercase;
    font-weight: bold;
}
